* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(#001 50%,gold 50%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*this class for the animation*/

.container {
    height: 14%;
    width: 50%;
    background-color: #123;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;

}
.animation-after-finding-data {
    height: 80%;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .search-area {
    margin-top: 25px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 90%;
    
}
.container .search-area #search-input {
    color: white    ;
    background-color: #123;
    border: 2px solid #80808080;
    border-radius: 4px;
    padding: 0px 10px;
    flex-grow: 1;
    height: 40px;
}

.container .search-area #search-btn {
    color: black;
    background-color: gold;
    font-weight: 600;
    height: 44px;
    width: 130px;
    flex-grow: 0.2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.title-info {
    display: flex;
    height: 200px;
    width: 90%;
    margin-top: 15px;
    gap: 20px;

}

.title-info .image {
    height: 200px;
    width: 200px;
    flex-shrink: 0;

}

.title-info .image img {
    width: 100%;
    height: 200px;
}

.title-info .information {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: white;

}

.title-info .information #title {
    width: 100%;
    height: 12.5%;
    text-align: center;
    margin-top: 0px;
}

.title-info .information #rate {
    width: 100%;
    font-weight: 600;
    height: 12.5%;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 25px;
}
.title-info .information #made-information {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12.5%;
    gap: 20px;
    color: darkgray;
}

.title-info .information #film-classification {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    gap: 5px;

}

.title-info .information #film-classification div {
    font-size: 15px;
    background-color: #123;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
}

.title-info .information #film-classification div:hover {
    background-color: #ffffff55;
}
.container #plot {
    margin-top: 15px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    width: 90%;
    height: 35%;
    overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 15px;

}

::-webkit-scrollbar-track {
    background-color: #123;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 8px;
}


@media (max-width: 414px) {
    .container {
        overflow: scroll;
        overflow-x: hidden;
        height: 30%;
        width: 100%;
    }
    #hidden {
        display: none;
    }
    .title-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .title-info .image {
        height: 400px;
        width: 200px;
    }
    .title-info .image img{
        width: 100%;
        height: 100%;
    }
    .title-info .made-information {
        width: 100%;
    }
    .animation-after-finding-data {
        height: 90%;
    }
}
